body {
      text-align: center;
      background-size: cover;
      background-position: center;
      color: white;
      font-family: arial;
      background: url(http://webneel.com/wallpaper/sites/default/files/images/04-2013/20-beach-sea-photography.jpg);
      background-attachment: fixed;
    }
